footer
  z-index: 1
  display: flex
  justify-content: center
  margin-bottom: 10px

  .apps
    display: flex
    backdrop-filter: blur(12px)
    background-color: rgba($dark-gray, .25)
    border-radius: 1rem
    padding: .5rem .875rem

    button
      padding-right: .5rem

      &:last-child
        padding-right: 0

      &:hover i
        color: $purple

      i
        display: block
        font-size: 2rem
        transition: all .1s linear
        transform-origin: bottom
        color: $white
