footer
  z-index: 1
  display: flex
  justify-content: center
  margin-bottom: 10px

  .apps
    display: flex
    backdrop-filter: blur(12px) brightness(1.5)
    border-radius: 8px
    padding: 1rem .875rem