header
  backdrop-filter: blur(12px)
  background-color: rgba($dark-gray, .25)
  padding: 0 1.5rem
  height: 2rem
  display: flex
  flex-direction: row
  align-items: center

  img
    height: 1.125rem
    display: block
    filter: invert(1)
    margin-right: 1.5rem
    user-select: none

  nav
    button
      margin-right: 0.875rem
      user-select: none

      &:last-child
        margin-right: 0

  .right
    margin-left: auto
    display: flex
    align-items: center

    a
      height: 1rem
      line-height: 1
      margin-right: 1rem

    .time
      user-select: none
