header
	backdrop-filter: blur(12px)
	background-color: rgba($dark-gray, .25)
	padding: 0 1.5rem 0 1rem
	height: 2rem
	display: flex
	flex-direction: row
	align-items: center
	z-index: 2

	button, a
		height: 100%
		border-radius: .2rem

		&:active
			background-color: rgba($dark-gray, 1)

	img
		height: 1rem
		display: block
		filter: invert(1)
		user-select: none
		padding: 0 .5rem

	nav
		height: 100%

		button
			user-select: none
			padding: 0 .5rem

	.right
		margin-left: auto
		display: flex
		align-items: center
		height: 100%

		a
			padding: .5rem

		.time
			user-select: none
